{
    "$schema": "https://raw.githubusercontent.com/F5Networks/f5-appsvcs-extension/master/schema/latest/as3-schema.json",
    "class": "AS3",
    "action": "deploy",
    "persist": true,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.19.0",
        "id": "GSLB_Sample",
        "Common": {
            "class": "Tenant",
            "Shared": {
                "class": "Application",
                "template": "shared",
                "{{ datacenter }}": {
                    "class": "GSLB_Data_Center"
                },
                "vs_monitor": {
                    "class": "GSLB_Monitor",
                    "monitorType": "tcp",
                    "send": ""
                },

                "LTM": {
                    "class": "GSLB_Server",
                    "dataCenter": {
                        "use": "UDF"
                    },
                    "devices": [{
                        "address": "{{ serverDeviceIP }}"
                    }],
                    "virtualServers": [{
                        "address": "{{ serverVIP }}",
                        "port": 80,
                        "monitors": [{
                            "use": "vs_monitor"
                        }]
                    }],
                    "serverType": "generic-host",
                    "monitors": [{
                        "use": "vs_monitor"
                    }]
                },

                "GTM": {
                    "class": "GSLB_Server",
                    "dataCenter": {
                        "use": "UDF"
                    },
                    "devices": [{
                        "address": "10.1.10.4"
                    }]
                }
            }
        },
        "demo": {
            "class": "Tenant",
            "Application": {
                "class": "Application",
                "template": "generic",
                "testUDP": {
                    "class": "Service_UDP",
                    "virtualAddresses": [
                        "{{ DNSListenerIP }}"
                    ],
                    "virtualPort": 53,
                    "profileDNS": {
                        "bigip": "/Common/dns"
                    },
                    "profileUDP": {
                        "bigip": "/Common/udp"
                    }
                },
                "testTCP": {
                    "class": "Service_TCP",
                    "virtualAddresses": [
                        "{{ DNSListenerIP }}"
                    ],
                    "virtualPort": 53,
                    "profileDNS": {
                        "bigip": "/Common/dns"
                    },
                    "profileTCP": {
                        "bigip": "/Common/tcp"
                    }
                },

                "{{ WIP }}": {
                    "class": "GSLB_Domain",
                    "domainName": "{{ WIP }}",
                    "resourceRecordType": "A",
                    "poolLbMode": "ratio",
                    "pools": [{
                        "use": "LTM"
                    }]
                },

                "testMonitor": {
                    "class": "GSLB_Monitor",
                    "monitorType": "tcp",
                    "send": ""
                },

                "LTM": {
                    "class": "GSLB_Pool",
                    "members": [{
                        "ratio": 10,
                        "server": {
                            "use": "/Common/Shared/LTM"
                        },
                        "virtualServer": "0"
                    }],
                    "monitors": [{
                        "use": "testMonitor"
                    }],
                    "resourceRecordType": "A"
                }

            }
        }
    }
}